<div ng-controller="DetailController">

	<super-navbar>
		<super-navbar-title id='super-navbar-title'></super-navbar-title>
	</super-navbar>

	<div class="padding">
		<img src="{{featured_img.url}}" width="{{featured_img.width}}" height="{{featured_img.height}}" style="width:100%; height: auto; max-width: 100%;">

		<h1 ng-bind-html="title"><!-- title --></h1>

		<div class="content-ctn">

			<div class="loading-box content" ng-show="busy">
				<i class="super-loading-c"></i>
			</div>

			<div ng-if="content" class="toggle" ng-bind-html="content">
				<!-- content -->
			</div>
		</div>
	</div>
</div>