<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">status</span>
    <input type="text" ng-model="post['status']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">count</span>
    <input type="text" ng-model="post['count']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">count_total</span>
    <input type="text" ng-model="post['count_total']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">pages</span>
    <input type="text" ng-model="post['pages']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">posts</span>
    <input type="text" ng-model="post['posts']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">query</span>
    <input type="text" ng-model="post['query']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
