/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
	background-color: #fff;
	color: #525252;
	opacity: 0.11;
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.05);
}

navigation-bar title {
	color: #000;
	font-size: 14px;
	font-family: "Helvetica Neue";
	font-weight: bold;
}

navigation-bar button, navigation-bar back-bar-button {
	color: #000;
	font-weight: 300;
}

navigation-bar button {
	background-image: url(icons/grid.svg);
}

tab-bar {
	background-color: #fff;
	border-top: 1px #d8d8d8 solid;
}

tab-bar tab-bar-item {
	color: #b0b1b4;
	/*font-family: "Avenir";*/
	font-size: 10px;
}

tab-bar tab-bar-item:selected {
	color: #1596f7;
}

tab-bar-item#latest {
	background-image: url(icons/grid.svg);
}

tab-bar-item#search {
	background-image: url(icons/search.svg);
}

tab-bar-item#activity {
	background-image: url(icons/photo.svg);
}

tab-bar-item#more {
	background-image: url(icons/cog.svg);
}


