<style>
.menu {
	display: block;
}
.menu .item {
	display: block;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 20px;
	background: #efefef;
}
</style>

<div ng-controller="MenuController">
	<div class="">
		<nav id="menu" class="menu">
<!-- 			<super-navigate class="item" view-id="posts-overview" data-params-id="jajaja">test</super-navigate> -->
			<li class="item" ng-click="goTo('posts#overview', 'posts-overview', 'headlines')">Nieuws</li>
			<li class="item" ng-click="goTo('posts#overview', 'posts-overview', 'sport')">Nieuws - cat1</li>
			<li class="item" ng-click="goTo('epg#overview', 'epg-overview')">EPG</li>
		</nav>
	</div>
</div>
